[submodule "vim/pack/mcostea/start/nerdtree"]
	path = vim/pack/mcostea/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/mcostea/start/vim-airline"]
	path = vim/pack/mcostea/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/pack/mcostea/start/vim-sensible"]
	path = vim/pack/mcostea/start/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/pack/mcostea/start/nerdtree-git-plugin"]
	path = vim/pack/mcostea/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/pack/mcostea/start/RootIgnore"]
	path = vim/pack/mcostea/start/RootIgnore
	url = https://github.com/octref/RootIgnore
[submodule "vim/pack/mcostea/start/YouCompleteMe"]
	path = vim/pack/mcostea/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
